.container
    section.section
        h1.title.is-3= title
        h2.subtitle.is-4= description
    section.section 
        .columns
            for social in socials 
                .column.is-4
                    .box.custo-is-fullheight
                        p.is-size-2.mb-3= social.title
                        p.text= social.text
    section.section
        .block.is-hidden-touch
            .box.custo-is-fullheight
                +cover(products[0], 'lame')

        .block
            .columns
                for product in products 
                    .column.is-4
                        .box.custo-is-fullheight
                            +cover(product, 'bp')
                        