.container
    nav.navbar(role='navigation' aria-label='main navigation')
        .navbar-brand
           a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
                span(aria-hidden='true')
                span(aria-hidden='true')
                span(aria-hidden='true')
        #navbarBasicExample.navbar-menu
            .navbar-start
                for item in navbars
                    a.navbar-item(href=item.href title=item.title)= item.content
            .navbar-end
                .navbar-item
                    .buttons
                        a.button.is-light S'enregistrer
                        a.button.is-primary Se connecter
