mixin cover(item, type)
    - var isProductPrincipal = (type === 'lame')

    div(class = [isProductPrincipal ? 'product-principal is-justify-content-space-between' : 'product-simple is-flex-direction-column', 'is-flex is-flex-wrap-wrap '])

        div(class = [{'is-flex-direction-row mb-4': isProductPrincipal !== true}, 'is-flex-widescreen'])

            figure(class = [isProductPrincipal ? 'product-principal-image mr-5' : 'my-auto mr-4', 'image is-hidden-mobile'])
                img.custo-product-img-tablet(src=item.mea alt=item.title)(style= isProductPrincipal !== true ? "min-width: 100px; max-width: 100px" : null)

            div(class = ['product-details is-flex is-flex-wrap-wrap is-flex-direction-column'])
                div
                    span.tag.is-danger.is-rounded.mb-3= item.tag

                p(class = [{'is-size-2-tablet': isProductPrincipal === true}, 'is-size-4'])= item.title

                p(class=['has-text-primary is-size-1 mb-4', {'is-size-2-tablet': isProductPrincipal !== true}])= item.price

                if item.mention
                    p.is-size-7.has-text-grey-light= item.mention

        div.is-flex
            a(class = ['button is-primary my-auto', {'mr-6': isProductPrincipal === true}] href=item.cta.href)= item.cta.txt